---
title: Pin
---
<figure class="ex-1">
  <figcaption>
{{#markdown}}
Set a point of interest with guides

    figure {
      .pin(50% 50vmin, 50% 50%);
      .pin.guide;
    }

{{/markdown}}
  </figcaption>
</figure>
<figure class="ex-2">
  <figcaption>
{{#markdown}}
Add an image

    figure {
      .pin.image('/assets/img/image.jpg');
    }

{{/markdown}}
  </figcaption>
</figure>
<figure class="ex-3">
  <figcaption>
{{#markdown}}
Align items

    figure {
      figcaption {
        .pin.in(7);
      }
    }

{{/markdown}}
  </figcaption>
</figure>

<figure class="ex-4">
  <figcaption>
    <div>
{{#markdown}}
Align items

      figure {
        figcaption {
          .pin.in(7);
          .pin.in.side(5);
        }
      }

{{/markdown}}
    </div>
  </figcaption>
</figure>
