<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{default title page.basename}}</title>
  <meta name="description" content="{{default description site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#block 'styles'}}{{/block}}
</head>
<body>
{{#block 'header'}}<header>{{> header}}</header>{{/block}}
{{#block 'main'}}<main>{{> body}}</main>{{/block}}
{{#block 'footer'}}<footer>{{> footer}}</footer>{{/block}}
{{#block 'scripts'}}{{/block}}
</body>
</html>
